body {
  background-color: #CFD8DC 
}


header {
	display: flex;
	justify-content: center;
}

#logindiv{
position: absolute;
  left: 50%;
  height:500px;
  width:70%;
  transform: translateX(-50%);
  
}


form {
	padding: -10px;
}

.input-box {
	position: relative;
	margin: 10px 0;
}

.input-box>input {
	background: transparent;
	border: none;
	border-bottom: solid 1px #ccc;
	padding: 20px 0px 5px 0px;
	font-size: 14pt;
	width: 100%;
}

input::placeholder {
	color: transparent;
}

input:placeholder-shown+label {
	color: #aaa;
	font-size: 14pt;
	top: 15px;
}

input:focus+label, label {
	color: #8aa1a1;
	font-size: 10pt;
	pointer-events: none;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown) {
	border-bottom: solid 1px #8aa1a1;
	outline: none;
}

input[type=submit] {
	background-color:#2C5F2D;
	border: none;
	color: white;
	border-radius: 5px;
	width: 100%;
	height: 45px;
	font-size: 14pt;
	margin-top: 34px;
	opacity: 85%
}

input[type=submit]:hover {
	 background-color: #2C5F2D;
	  color: white;
	  opacity: 100%;
	  cursor : pointer;
}

#kakao {
	background-color: #fee500;
	text-align: center;
	border: none;
	color: white;
	border-radius: 5px;
	width: 100%;
	height: 45px;
	font-size: 14pt;
	margin-top: 34px;
	opacity: 85%
}

#kakao:hover {
	opacity: 100%
}

