@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Gugi', cursive,
        '맑은 고딕',
        'Apple SD Gothic Neo',
        sans-serif;

}
body {
    background-color: rgb(247, 229, 127);
    margin: 0;
    font-family: 'Gugi', cursive,
        '맑은 고딕',
        'Apple SD Gothic Neo',
        sans-serif;
}

header {
    overflow: hidden;
    background-color: rgb(46, 53, 49);
    position: fixed;
    top: 0;
    width: 100%;
}
.head1 {
    display:inline-block;
    line-height:70px;
    padding-left: 20px;
    padding-right: 20px;
    color:whitesmoke;
    font-family: 'Gugi', cursive;
    font-size: 28px;
    text-decoration: none;
}

.head2 ul {
    list-style: none;
    margin:0;
    padding:0;
}

.head2 li{
    list-style: none;
}

.head2 a{
    font-size: 21px;
    display:block;
    padding:30px;
    color:whitesmoke;
    text-decoration: none;
}

.head1 a{
    color:whitesmoke;
}

.head1 a:hover{
    color:rgb(172, 172, 172);
}

.head2 a:hover{
    background-color: rgba(0,0,0,1);
}

@media (min-width : 768px){ /* 768px보다 큰화면일때*/
    header .container {
        display:flex;
        align-items: center;
        justify-content: space-between;

        max-width: 1000px;
        margin-left: auto;
        margin-right:auto;
    }

    .head2 ul{  /* 이것 때문에 엄청 헤맸다.. */
        display:flex;
    }

    .head3{
        display:none;
    }

    .head2{
        display:block !important; /*매우 중요*/
    }
}

@media (max-width : 767px){ /* 768px보다 작은화면일때*/
    header .head1{
        display:flex;
        align-items:center;
        justify-content:space-between;
    }

    .head3{
        margin-right: 10px;
        padding:0;
        border:none;
        outline:none;
        background:none;
        font-size:28px;
        cursor:pointer;
    }

    .head3:hover {
        opacity:0.5
    }
    
    .head2{
        display:none;
    }
}


.order_div {
  position:relative;
  width:400px;
  height:400px;
  padding: 30px, 20px;
  background-color:rgb(253, 251, 236);
  text-align:center;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  z-index:3;
}

.textForm {
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.textForm1 {
  border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 1px 1px;
}

.partner_order_id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.partner_user_id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.order_Rec {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.order_Phone {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
	
}


.quantity {
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
  width: 50%;
  float: left;

}

.total_amount {
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
  width: 50%;
  float: right;
}

.address {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.button {
 margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: 130px;

  border: none;
  border-radius: 4px;
  
  cursor: pointer;

  transition: 0.5s;
  background-color: #008CBA;
  color: white;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

@media (min-width : 768px){ /* 768px보다 큰화면일때*/
    .order_div {
        display:flex;
        align-items: center;
        justify-content: space-between;

        max-width: 1000px;

    }


}





footer {

    background-color: rgb(46, 53, 49);
    color: whitesmoke;
}

footer.container {
    padding: 40px 20px;
}

.foot1 h2 {
    font-family: 'Gugi', cursive;
    letter-spacing: 0.1em;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.foot1 p {
    font-size: 16px;
    font-family: 'Gugi', cursive;
    text-decoration: none;
    color: whitesmoke;
    margin-left: 30px;
}

.foot1 a {
    font-size: 16px;
    font-family: 'Gugi', cursive;
    text-decoration: none;
    color: whitesmoke;
}

.foot3 div {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.foot3 h3 {
    font-size: 20px;
    font-family: 'Gugi', cursive;
}

.foot3 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.foot3 a {
    font-family: 'Gugi', cursive;
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {

    footer .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .foot1 {
        flex: 0 0 50%;
    }

    .foot2 {
        flex: 0 0 20%
    }

    .foot3 {
        flex: 0 0 30%;
    }
}
