body {
	background-image: url(../img/cloverpattern.png);
	background-color: #FBF9E5;
	background-size: cover;
	font-family: 'Gugi', cursive, '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
}


header {
	display: flex;
	justify-content: center;
}

#logindiv {
	margin-top:100px;
	background-color: #FAFAFA; 
	position : absolute;
	left: 50%;
	height: 580px;
	width: 500px;
	transform: translateX(-50%);
	border: 15px solid #373737;
	border-radius: 30px;
	padding: 30px;
	position: absolute;
	text-align: center;
}

idcheck{
	width: 100px;
	height: 50px;
}
form {
	padding: -10px;
}

.input-box {
	position: relative;
}

.input-box>input {
	background: transparent;
	border: none;
	border-bottom: solid 5px #009519;
	padding: 30px 0px 5px 0px;
	font-size: 25pt;
	width: 100%;
}

input::placeholder {
	color: transparent;
	font-size: 15pt;
}

input:placeholder-shown+label {
	color: #99CC99;
	font-size: 15pt;
}

h1 {
	margin-top:-10px;
	font-size: 35pt;
	color: rgb(46, 53, 49);
}

input:focus+label, label {
	color: #339933;
	font-size: 20pt;
	pointer-events: none;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown) {
	border-bottom: solid 7px #00530E;
	outline: none;
}

frm2 {
	left: 50%;
}

input[type=submit] {
	background-color: #7CB342;
	border: none;
	color: white;
	border-radius: 10px;
	border: 5px solid #016612;
	text-align:center;
	width: 310px;
	height: 55px;
	font-size: 12pt;
	margin-top: 20px;
	opacity: 85%;
	font-weight: bold;
}

input[type=submit]:hover {
	background-color: #016612;
	color: white;
	opacity: 100%;
	cursor: pointer;
}

#kakao {
	background-color: #fee500;
	color: white;
	border-radius: 10px;
	border: 5px solid #DFCE18;
	width: 300px;
	height: 45px;
	font-size: 14pt;
	margin-top: 20px;
	opacity: 85%;
	left:50%;
	margin: 20px 0 0 93px ;
}

#kakao:hover {
	opacity: 100%
	
}