@charset "UTF-8";

body {
    background-image:url(https://www.teahub.io/photos/full/0-3357_3840x2160-silver-blur-background-wallpaper-wallpaper-high-resolution.jpg);
    margin: 0;
    font-family: 
        '맑은 고딕';
     text-align: center;
}

#joindiv{
position: absolute;
  left: 50%;
  height:500px;
  width:80%;
  transform: translateX(-50%);
  
}

table {
    margin:auto; 
   	color: #2F4F4F;
    width:80%;
    font-size: 20px
}

table, td, th {
    height: 70px;
}

input {
	width: 90%;
	height: 25px;
    border-radius: 4px;
}
h1{
	color: black;
}
header {
	display: flex;
	justify-content: center;
}


button {
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: 67%;

  border: none;
  border-radius: 4px;
  
  cursor: pointer;

  transition: 0.5s;
  background-color: #008CBA;
  color: white;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

@media (min-width : 768px){ /* 768px보다 큰화면일때*/
    header .container {
        display:flex;
        align-items: center;
        justify-content: space-between;

        max-width: 1000px;
        margin-left: auto;
        margin-right:auto;
    }

    .head2 ul{  /* 이것 때문에 엄청 헤맸다.. */
        display:flex;
    }

    .head3{
        display:none;
    }

    .head2{
        display:block !important; /*매우 중요*/
    }
}

@media (max-width : 767px){ /* 768px보다 작은화면일때*/
    header .head1{
        display:flex;
        align-items:center;
        justify-content:space-between;
    }

    .head3{
        margin-right: 10px;
        padding:0;
        border:none;
        outline:none;
        background:none;
        font-size:28px;
        cursor:pointer;
    }

    .head3:hover {
        opacity:0.5
    }
    
    .head2{
        display:none;
    }
}

.container1 {
    margin-top: 70px;
    text-align: center;
    background-color: rgb(245, 223, 102);
    background-image: linear-gradient(rgba(243, 235, 235, 0.05), rgba(0, 0, 0, 0.05)), url(../img/family3.png);
    background-position: center;
    background-size: cover;
    height: 120vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;

}

.container1 h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 8vw;
    text-shadow: 3vw;
    font-family: 'Gugi', cursive;
    letter-spacing: 0.05em;
}

.container1 a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gugi', cursive;
    color: rgb(202, 212, 216);
    background-color:  rgb(46, 53, 49);
    padding: 10px 30px;
    border: solid 4px rgba(152, 153, 153, 0.747);
    border-radius: 7px;
    margin-top: 30px;
    display: inline-block;
}

.container1 a:hover {
    background-image: linear-gradient(rgba(22, 22, 22, 0.2),
            rgba(22, 22, 22, 0.2));
}

@media (min-width: 768px) { /* 화면폭 768 이상이면 */

    .container1 h1 {
        font-size: 65px;
    }
}

