@charset "UTF-8";

body {
	background-color:rgb(247, 229, 127);
	margin: 0;
	font-family: 'Gugi', cursive, '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
}

header {
	overflow: hidden;
	background-color: rgb(46, 53, 49);
	position: fixed;
	top: 0;
	width: 100%;
}

.head1 {
	display: inline-block;
	line-height: 70px;
	padding-left: 20px;
	padding-right: 20px;
	color: whitesmoke;
	font-family: 'Gugi', cursive;
	font-size: 28px;
	text-decoration: none;
}

.head2 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.head2 li {
	list-style: none;
}

.head2 a {
	font-size: 21px;
	display: block;
	color: whitesmoke;
	text-decoration: none;
	padding: 1.5em;
	height: 30pt;
	text-align: center;
}

.head1 a {
	color: whitesmoke;
}

.head1 a:hover {
	color: rgb(172, 172, 172);
}

.head2 a:hover {
	background-color: rgba(0, 0, 0, 1);
}

#loginOut {
	color: #FFE44C
}

#logOut {
	color: #F81140
}


@media ( min-width : 768px) { /* 768px보다 큰화면일때*/
	header .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
	.head2 ul { /* 이것 때문에 엄청 헤맸다.. */
		display: flex;
	}
	.head3 {
		display: none;
	}
	.head2 {
		display: block !important; /*매우 중요*/
	}
}

@media ( max-width : 767px) { /* 768px보다 작은화면일때*/
	header .head1 {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.head3 {
		margin-right: 10px;
		padding: 0;
		border: none;
		outline: none;
		background: none;
		font-size: 28px;
		cursor: pointer;
	}
	.head3:hover {
		opacity: 0.5
	}
	.head2 {
		display: none;
	}
}

/* 기본버튼 */
.btn {
	border: none;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}

.success {
	background-color: #333;
	border: 15px;
	font-family: 'Gugi', cursive;
}

.success:hover {
	background-color: #333;
	font-family: 'Gugi', cursive;
}

.info {
	background-color: #333;
	font-family: 'Gugi', cursive;
}

.info:hover {
	background-color: #333;
	font-family: 'Gugi', cursive;
}

.warning {
	background-color: #333;
	font-family: 'Gugi', cursive;
}

.warning:hover {
	background-color: #333;
	font-family: 'Gugi', cursive;
}

.danger {
	background-color: #333;
	font-family: 'Gugi', cursive;
}

.danger:hover {
	background-color: #333;
	font-family: 'Gugi', cursive;
}

.default {
	background-color: #e7e7e7;
	color: black;
}

.default:hover {
	background: #ddd;
}

/* [페이징] */
.center {
	text-align: center;
}

ul.pagination {
	list-style-type: none;
}

ul.pagination li {
	display: inline-block;
}

ul.pagination a {
	color: black;
	float: left;
	padding: 4px 8px;
	text-decoration: none;
	transition: background-color .3s;
	margin: 0px;
}

ul.pagination a.active {
	background-color: black;
	color: white;
	border: 1px solid black;
}

ul.pagination a:hover:not(.active) {
	background-color: #ddd;
}

/* 글 목록 */
#list table {
	width: 100%;
	border-bottom: hidden;
}

#list table, #list th, #list td {
	border-collapse: collapse;
}

#list table {
	border-radius: 16px;
	background-color: whitesmoke;
}

#list td, #list th {
	padding: 30px;
	border-bottom: 2px solid #333;
}

#list th {
	font-size: 18px;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

#list .subject:hover { /* 글 제목 위에 커서 올라간 경우 */
	text-decoration: underline;
	color: orange;
	cursor: pointer;
}

.container1 {
	margin-top:200px;
	text-align: center;
	background-color: rgb(247, 229, 127);
	background-position: center;
	background-size: cover;
	height: 120vh;
	min-height: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333;
}

.container1 h1 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 8vw;
	text-shadow: 3vw;
	font-family: 'Gugi', cursive;
	letter-spacing: 0.05em;
}

.container1 a {
	text-decoration: none;
	font-size: 20px;
	font-family: 'Gugi', cursive;
	color: #333;
}

.container1 a:hover {
	background-image: linear-gradient(rgba(22, 22, 22, 0.2),
		rgba(22, 22, 22, 0.2));
}

td a:hover {
	background-color: rgb(248, 222, 71);
}


table a:hover{
	background-color: rgb(248, 222, 71);
}

@media ( min-width : 768px) { /* 화면폭 768 이상이면 */
	.container1 h1 {
		font-size: 65px;
	}
}

footer {
	background-color: rgb(46, 53, 49);
	color: whitesmoke;
}

footer.container {
	padding: 40px 20px;
}

.foot1 h2 {
	font-family: 'Gugi', cursive;
	letter-spacing: 0.1em;
	font-size: 25px;
	margin-bottom: 10px;
	margin-left: 30px;
}

.foot1 p {
	font-size: 16px;
	font-family: 'Gugi', cursive;
	text-decoration: none;
	color: whitesmoke;
	margin-left: 30px;
}

.foot1 a {
	font-size: 16px;
	font-family: 'Gugi', cursive;
	text-decoration: none;
	color: whitesmoke;
}

.foot3 div {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.foot3 h3 {
	font-size: 20px;
	font-family: 'Gugi', cursive;
}

.foot3 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.foot3 a {
	font-family: 'Gugi', cursive;
	text-decoration: none;
	color: inherit;
}

@media ( min-width : 768px) {
	footer .container {
		display: flex;
		flex-wrap: wrap;
		max-width: 1000px;
		max-width: var(- -large-width);
		margin-left: auto;
		margin-right: auto;
	}
	footer {
		background-color: rgb(46, 53, 49);
		color: whitesmoke;
	}
	.foot1 {
		flex: 0 0 50%;
	}
	.foot2 {
		flex: 0 0 20%
	}
	.foot3 {
		flex: 0 0 30%;
	}
}

.button {
	margin: 0;
	padding: 0.5rem 1rem;
	font-family: 'Gugi', cursive, '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 130px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s;
	background-color: black;
	color: white;
}

.button:hover {
	background-color: #4CAF50;
	color: white;
}
