@charset "UTF-8";

body {
    background-color: rgb(247, 229, 127);
    margin: 0;
    font-family: 'Gugi', cursive,
        '맑은 고딕',
        'Apple SD Gothic Neo',
        sans-serif;
      margin-top: 200px;
   margin-bottom:-50px;
}

header {
    overflow: hidden;
    background-color: rgb(46, 53, 49);
    position: fixed;
    top: 0;
    width: 100%;
    z-index : 10;
}
.head1 {
    display:inline-block;
    line-height:70px;
    padding-left: 20px;
    padding-right: 20px;
    color:whitesmoke;
    font-family: 'Gugi', cursive;
    font-size: 28px;
    text-decoration: none;
}

.head2 ul {
    list-style: none;
    margin:0;
    padding:0;
}

.head2 li{
    list-style: none;
}

.head2 a{
    font-size: 21px;
    display:block;
    padding:30px;
    color:whitesmoke;
    text-decoration: none;
}

.head1 a{
    color:whitesmoke;
}

.head1 a:hover{
    color:rgb(172, 172, 172);
}

.head2 a:hover{
    background-color: rgba(0,0,0,1);
}

@media (min-width : 768px){ /* 768px보다 큰화면일때*/
    header .container {
        display:flex;
        align-items: center;
        justify-content: space-between;

        max-width: 1000px;
        margin-left: auto;
        margin-right:auto;
    }

    .head2 ul{  /* 이것 때문에 엄청 헤맸다.. */
        display:flex;
    }

    .head3{
        display:none;
    }

    .head2{
        display:block !important; /*매우 중요*/
    }
}

@media (max-width : 767px){ /* 768px보다 작은화면일때*/
    header .head1{
        display:flex;
        align-items:center;
        justify-content:space-between;
    }

    .head3{
        margin-right: 10px;
        padding:0;
        border:none;
        outline:none;
        background:none;
        font-size:28px;
        cursor:pointer;
    }

    .head3:hover {
        opacity:0.5
    }
    
    .head2{
        display:none;
    }
}


.contents {
   background-color: whitesmoke;
   padding:30px;
   border-radius: 30px;
}



.container1 {
   margin-top:500px;
    text-align: center;
    background-color: rgb(247, 229, 127);
    background-position: center;
    background-size: cover;
    height: 120vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    margin-bottom:400px;

}

.container1 h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 8vw;
    text-shadow: 3vw;
    font-family: 'Gugi', cursive;
    letter-spacing: 0.05em;
}


@media ( max-width : 767px) { /* 768px보다 작은화면일때*/
   .contentscon {
      max-width: 1000px;
   }
}


.contentscon {
   width:1000px;
   padding:30px;
   border-radius : 100px;
   background-color: lightgrey;
}


#map {
   position: relative;
   z-index: 8;
   left:50%;
   transform:translate(-50%);
}

/* .container1 a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gugi', cursive;
    color: rgb(202, 212, 216);
    background-color:  rgb(46, 53, 49);
    padding: 10px 30px;
    border: solid 4px rgba(152, 153, 153, 0.747);
    border-radius: 7px;
    margin-top: 30px;
    display: inline-block;
} */

.container1 a:hover {
    background-image: linear-gradient(rgba(22, 22, 22, 0.2),
            rgba(22, 22, 22, 0.2));
}

@media (min-width: 768px) { /* 화면폭 768 이상이면 */

    .container1 h1 {
        font-size: 65px;
    }
}


footer {
 position: absolute;

    left: 0;

    width: 100%;
   z-index:10;
   padding: 15px 0;
    background-color: rgb(46, 53, 49);
    color: whitesmoke;
}

footer.container {
    padding: 40px 20px;
}

.foot1 h2 {
    font-family: 'Gugi', cursive;
    letter-spacing: 0.1em;
    font-size: 25px;
    margin-left: 30px;
}

.foot1 p {
    font-size: 16px;
    font-family: 'Gugi', cursive;
    text-decoration: none;
    color: whitesmoke;
    margin-left: 30px;
}

.foot1 a {
    font-size: 16px;
    font-family: 'Gugi', cursive;
    text-decoration: none;
    color: whitesmoke; 
}

.foot3 div {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.foot3 h3 {
    font-size: 20px;
    font-family: 'Gugi', cursive;
}

.foot3 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.foot3 a {
    font-family: 'Gugi', cursive;
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {

    footer .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .foot1 {
        flex: 0 0 50%;
    }

    .foot2 {
        flex: 0 0 20%
    }

    .foot3 {
        flex: 0 0 30%;
    }
}